In [1]:
%store -r paths_unknown_cropped
%store -r paths_sameed_cropped
%store -r paths_arham_cropped

%store -r arham_ages
%store -r unknown_ages
%store -r sameed_ages

%store -r arham_expressions
%store -r sameed_expressions
%store -r unknown_expressions

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [29]:
paths = paths_unknown_cropped + paths_sameed_cropped + paths_arham_cropped

entries = len(paths)/3

indentities = ["Unknown" for i in range(69)] + ["Sameed" for i in range(69)] + ["Arham" for i in range(41)]
ages = unknown_ages + sameed_ages + arham_ages
ages = [int(n) for n in ages]
expressions = unknown_expressions + sameed_expressions + arham_expressions

In [30]:
df = pd.DataFrame(

    {"Path": paths,
    "Identity": indentities,
    "Age": ages ,
    "Expression": expressions}
)

In [31]:
df

,Path,Identity,Age,Expression
0,C:\Users\Sameed\Desktop\ML_Overall_Work\Me_Not...,Unknown,10,Not Smiling
1,C:\Users\Sameed\Desktop\ML_Overall_Work\Me_Not...,Unknown,1,Not Smiling
2,C:\Users\Sameed\Desktop\ML_Overall_Work\Me_Not...,Unknown,1,Not Smiling
3,C:\Users\Sameed\Desktop\ML_Overall_Work\Me_Not...,Unknown,1,Not Smiling
4,C:\Users\Sameed\Desktop\ML_Overall_Work\Me_Not...,Unknown,1,Not Smiling
...,...,...,...,...
174,C:\Users\Sameed\Desktop\ML_Overall_Work\Me_Not...,Arham,22,Smiling
175,C:\Users\Sameed\Desktop\ML_Overall_Work\Me_Not...,Arham,22,Smiling
176,C:\Users\Sameed\Desktop\ML_Overall_Work\Me_Not...,Arham,22,Smiling
177,C:\Users\Sameed\Desktop\ML_Overall_Work\Me_Not...,Arham,22,Smiling
178,C:\Users\Sameed\Desktop\ML_Overall_Work\Me_Not...,Arham,22,Smiling

In [32]:
train, test = train_test_split(df, test_size=0.3)

In [25]:
print(len(test[ test["Identity"] == "Sameed" ]))
print(len(train[ train["Identity"] == "Unknown" ]))
# print(len(train[ train["Identity"] == "Arham" ]))


print(len(test[ test["Identity"] == "Sameed" ]))
print(len(train[ train["Identity"] == "Unknown" ]))
# print(len(train[ train["Identity"] == "Arham" ]))

22
49
22
49

In [33]:
df.to_excel("C:\\Users\\Sameed\\Desktop\\ML_Overall_Work\\More_Improving_Age_Regression\\Task2\\Dataset\\(Unknown_Sameed_Arham).xlsx", index = False)
train.to_excel("C:\\Users\\Sameed\\Desktop\\ML_Overall_Work\\More_Improving_Age_Regression\\Task2\\Dataset\\Train_multi.xlsx", index = False)
test.to_excel("C:\\Users\\Sameed\\Desktop\\ML_Overall_Work\\More_Improving_Age_Regression\\Task2\\Dataset\\Test_multi.xlsx", index = False)